body {
  background-color: #E4F9F5;
  text-align: center;
}

hr {
  border-top-style: hidden;
  margin: 100px auto;
}

.end {
  border-top-style: hidden;
  width: 100%;
  margin: 0;
  padding-top: 0;
}

p {
  font-size: 1.5em;
  line-height: 2;
  color: #1363DF;
  width: 70%;
  margin: auto;
}

h1 {
  color: green;
}

h2 {
  font-family: 'merriweather', serif;
  font-size: 2em;
  color: #1363DF;
}

h4 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1em;
  color: #1363DF;
  padding-top: 20px;
}

.hh {
  font-family: 'merriweather', serif;
  font-size: 4em;
  color: #1363DF;
}

.pp {
  color: green;
  font-weight: bolder;
}

.top {
  font-size: 20px;
  position: relative;
  padding-top: 50px;
  font-family: 'Sacramento', sans-serif;
}

.mount {
  height: 400px;
}

h3 {
  font-size: 2em;
}

.cloud {
  position: absolute;
  margin-left: 0;
  height: 100px;
}

.logo {
  height: 100px;
}

.house {
  text-decoration: underline;
}

.a {
  margin: 1px;
  border: 2px;
  border-style: solid;
  border-color: #1363DF;
}

.b {
  margin: 1px;
  border: 2px;
  border-style: solid;
  border-color: green;
}

.c {
  font-family: 'Sacramento', sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
}

.d {
  text-align: left;
  margin-left: 25px;
}

.f {
  height: 225px;
  margin-left: 30px;
  float: right;
}

.e {
  height: 225px;
  float: left;
  margin: -70px 200px 0 30px;
}

.f {
  height: 225px;
  margin-right: 200px;
  margin-left: 30px;
  float: left;
}

.pillows {
  padding-bottom: 20px;
}

.bottom {
  line-height: .5;
  font-size: 1em;
  margin-bottom: 50px;
}

.gg {
  font-family: 'Sacramento', sans-serif;
  color: green;
  font-size: .75em;
  font-weight: bold;
  line-height: 1;
}

.btn {
  background: #4daff0;
  background-image: -webkit-linear-gradient(top, #4daff0, #126ba3);
  background-image: -moz-linear-gradient(top, #4daff0, #126ba3);
  background-image: -ms-linear-gradient(top, #4daff0, #126ba3);
  background-image: -o-linear-gradient(top, #4daff0, #126ba3);
  background-image: linear-gradient(to bottom, #4daff0, #126ba3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: merriweather;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 13px 10px 13px;
  text-decoration: none;
  margin: 10px;
}

.btn:hover {
  background: #abd9f5;
  background-image: -webkit-linear-gradient(top, #abd9f5, #3498db);
  background-image: -moz-linear-gradient(top, #abd9f5, #3498db);
  background-image: -ms-linear-gradient(top, #abd9f5, #3498db);
  background-image: -o-linear-gradient(top, #abd9f5, #3498db);
  background-image: linear-gradient(to bottom, #abd9f5, #3498db);
  text-decoration: none;
}

.footer-link {
  background: #4daff0;
  background-image: -webkit-linear-gradient(top, #4daff0, #126ba3);
  background-image: -moz-linear-gradient(top, #4daff0, #126ba3);
  background-image: -ms-linear-gradient(top, #4daff0, #126ba3);
  background-image: -o-linear-gradient(top, #4daff0, #126ba3);
  background-image: linear-gradient(to bottom, #4daff0, #126ba3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: merriweather;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 13px 10px 13px;
  text-decoration: none;
  margin: 10px;
}

.footer-link:hover {
  background: #abd9f5;
  background-image: -webkit-linear-gradient(top, #abd9f5, #3498db);
  background-image: -moz-linear-gradient(top, #abd9f5, #3498db);
  background-image: -ms-linear-gradient(top, #abd9f5, #3498db);
  background-image: -o-linear-gradient(top, #abd9f5, #3498db);
  background-image: linear-gradient(to bottom, #abd9f5, #3498db);
  text-decoration: none;
}

.footer {
  background-color: #C4DFAA;
  padding-bottom: 20px;
}
