body {
  background-color: #E4F9F5;
  text-align: center;
  margin: 0
}

p {
  font-size: 2em;
}

.hh {
  font-family: 'merriweather', serif;
  font-size: 4em;
  color: #1363DF;
}

.top {
  font-size: 20px;
  position: relative;
  padding-top: 100px;
  font-family: 'Sacramento', sans-serif;
  color: green;
}

.mount {
  height: 400px;
}

.cloud {
  position: absolute;
  margin-left: 0;
  height: 100px;
}

.logo {
  height: 100px;
}

.house {
  text-decoration: underline;
}

.a {
  margin: 1px;
  border: 2px;
  border-style: solid;
  border-color: blue;
}

.b {
  margin: 1px;
  border: 2px;
  border-style: solid;
  border-color: green;
}

.c{
font-family: 'Sacramento', sans-serif;
font-size: 2em;
  }
.bottom {
  line-height: .5;
  font-size: 1em;
}
.gg {
  font-family: 'Sacramento', sans-serif;
  color: green;
  font-weight:bold;
    line-height: .25;
  }
h2 {
  font-size: 2em;
   color: #1363DF;
